body {
  --green-one: #65e8a2;
  --green-two: #74feb2;

  --cyan-one: #4ec3bb;

  --blue-one: #2c6990;
  --blue-two: #1f477e;

  --indigo-one: #232b5f;

  --white-one: #fff;
  --white-two: #d9ffff;
  --white-three: #9dc0e2;
}
