@import url("./colors.css");
@import url("./fonts.css");

:root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow: hidden;
}

body {
  background:
    linear-gradient(var(--indigo-one), var(--blue-one)), var(--blue-one);
  color: var(--white-two);
  font-family: var(--default-font);

  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 0 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}
