@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");

:root,
html,
body {
  padding: 0;
  margin: 0;
  height: 100dvh;
  overflow: hidden;
}

body {
  overflow-y: auto;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  background: linear-gradient(#232b5f, #2c6990);
  color: #65e8a2;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}
